@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');
body{
    background-color: antiquewhite;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 80px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0px 12px 0px 12px;
}

.brand img{
    width: 80px;
    margin: 0px 0px 0px -40px;
    padding: 0px 2px 0px 0px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.5rem;
}

.container{
    min-height:78vh;
    background-color: black;
    color: white;
    font-family: 'Valera Round',sans-serif;
    display: flex;
    margin: 30px auto;
    width: 60%;
    border-radius: 12px;
    padding: 0px 0px 0px 12px;
    background-image: url('https://github.com/amitrakshar01/Euphoria/blob/main/images/bg3.jpg');
}

.bottom{
    position: sticky;
    background-color: black;
    color: white;
    bottom: 0px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons{
    margin-top: 9px;
}

.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw;
    cursor: pointer;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: black;
    width: 90%;
    color: white;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
}

.songItem img{
    width: 40px;
    margin: 0 23px;
    border-radius: 20px;
}

.timestamp{
    margin: 0 20px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left:9vw;
    font-family: 'Valera Round',sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

